In [1]:
import pandas as pd

df = pd.read_csv('chart-data.csv')
df.shape

(53413, 19)

In [2]:
df.head()

,Date,Time,Millitm,FCV-101 (%),FT-101,P-101,P-102,P-103,P-104,TE-101(Reactor) (°C),Stirrer (rpm),Level (L),pH,A.E. Activation,OD (units),P (psi),TE-106 (Chiller) (°C),TE-103 (Vapor) (°C),TE-102 (Jacket) (°C)
0,4/3/2025,1:00:07 p. m.,809,0.00000000,0.86693380,0.00000000,0.00000000,0.00000000,2.00000000,30.11250100,44.00000000,17.59962500,5.83625030,0.00000000,4.19625040,0.08250000,21.92372100,144.04504000,25.12815900
1,4/3/2025,1:00:17 p. m.,810,0.00000000,0.87865734,0.00000000,0.00000000,0.00000000,2.00000000,30.08437500,44.00000000,17.62166600,5.83275030,0.00000000,4.26625000,0.07125001,21.97178600,144.30142000,25.14418000
2,4/3/2025,1:00:27 p. m.,809,0.00000000,0.87865734,0.00000000,0.00000000,0.00000000,2.00000000,30.08437500,44.00000000,17.62166600,5.86512500,0.00000000,4.23625040,0.07500000,22.05189500,144.52573000,25.12815900
3,4/3/2025,1:00:37 p. m.,812,0.00000000,0.86693380,0.00000000,0.00000000,0.00000000,2.00000000,30.03750000,44.00000000,17.60789100,5.86687500,0.00000000,4.22375000,0.07500000,22.30825800,144.78207000,25.12815900
4,4/3/2025,1:00:47 p. m.,809,0.00000000,0.87865734,0.00000000,0.00000000,0.00000000,2.00000000,30.03750000,44.00000000,17.62993200,5.86512500,0.00000000,4.23250000,0.07125001,22.40438800,145.05444000,25.14418000

In [9]:


# Convert 'Date' and 'Time' columns to datetime
df['Time'] = df['Time'].str.replace('a. m.', 'AM').str.replace('p. m.', 'PM')
df['DateTime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format='%d/%m/%Y %I:%M:%S %p')

# Sort the DataFrame by the 'DateTime' column
df = df.sort_values('DateTime')

# Calculate the time difference in seconds
df['TimeDiff'] = df['DateTime'].diff().dt.total_seconds()

# Save the differences to a txt file
with open('diffs.txt', 'w') as f:
    for i in range(1, len(df)):
        start_time = df['DateTime'].iloc[i-1]
        end_time = df['DateTime'].iloc[i]
        time_diff = df['TimeDiff'].iloc[i]
        # if (time_diff >  10):
        f.write(f'Difference between {start_time} and {end_time}: {time_diff} seconds\n')